@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// Colors

$color-background-black: #000000;
$color-background: #1c1f2b;
$color-background-secondary: #292b3d;
$border-color: #4e5a87;
$white: #ffffff;
$purple: #a676f3;
$green: #3be569;
$pink: #ff5bbf;
$yellow: #ffff66;
$blue: #5cd4f7;
$orange: #ff9c4a;
$red: #ff3333;

// Fonts
$font-family: "JetBrains Mono", monospace;

// Font Sizes
$font-size-h1: 3.6rem;
$font-size-h2: 3rem;
$font-size-h3: 2.4rem;
$font-size-h4: 2rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.6rem;
$font-size-p: 1.6rem;
$font-size-small: 1.4rem;
$button-text-size: 1.6rem;
$navbar-text-size: 1.6rem;
$footer-text-size: 1.4rem;

html {
    font-size: 10px;
    font-family: $font-family;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-background-black;
}

nav {
    background-color: $color-background-black;
    color: $white;
    font-size: $font-size-h4;
    height: 6rem;
    padding: 1.7rem 20rem;

    a {
        color: $white;
        text-decoration: none;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        li {
            margin-right: 3rem;
        }

        .navbar_list_item_container {
            display: flex;
            align-items: center;

            .navbar_list_login {
                color: $green;
                margin-right: 3rem;
            }

            .navbar_list_user {
                color: $yellow;
                margin-right: 3rem;
            }
        }
    }

    border-bottom: $border-color 1px solid;
}

.footer {
    background-color: $color-background-black;
    color: $white;
    font-size: $footer-text-size;
    padding: 2rem 20rem;
    text-align: center;
    border-top: $border-color 1px solid;

    a {
        color: $pink;
        text-decoration: none;
    }
}

.hero_section_container {
    background-color: $color-background-black;
    padding-top: 17rem;
    padding-left: 34.5rem;
    padding-right: 34.5rem;
    display: flex;
    justify-content: space-between;
    border-bottom: $border-color 1px solid;
    max-height: 80rem;
    overflow: hidden;

    .hero_section_text {
        padding-top: 5rem;
        .hero_section_heading {
            font-size: $font-size-h1;
            color: $green;
            margin-bottom: 2rem;
            font-weight: bold;
            letter-spacing: -1.5px;
        }

        .hero_section_subheading {
            font-size: $font-size-h3;
            color: $white;
            max-width: 50rem;
        }

        .hero_section_button {
            background-color: $pink;
            font-family: "JetBrains Mono", monospace;
            color: $color-background-black;
            padding: 1rem 2rem;
            font-size: $font-size-h4;
            border: none;
            border-radius: 40px;
            margin-top: 2rem;
            cursor: pointer;
            transition: all 0.3s;
        }

        .hero_section_button:hover {
            background-color: $green;
        }
    }

    .hero_section_image {
        width: 60rem;
        height: auto;
        border-radius: 10px;
    }
}

.features_section_container {
    background-color: $color-background-black;
    padding-left: 22rem;
    padding-right: 22rem;
    padding-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items horizontally */
    flex-direction: column;
    margin-bottom: 10rem;

    .features_section_heading {
        font-size: $font-size-h1;
        color: $green;
        font-weight: bold;
        letter-spacing: -1.5px;
        width: max-content;
        text-align: center;
    }

    .features_cards_container {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
        transition: all 0.3s;
        gap: 6rem;

        .features_section_card {
            background-color: $color-background-black;
            border-radius: 10px;
            border: $border-color 1px solid;
            width: 40rem;
            height: 50rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            transition: all 0.3s;

            .features_card_icon {
                height: 10rem;
            }

            .card_heading {
                font-size: $font-size-h3;
                color: $yellow;
            }

            .card_content {
                font-size: $font-size-p;
                color: $white;
                text-align: center;
                max-width: 25rem;
            }
        }

        .features_section_card:hover {
            border: $pink 1px solid;
            transform: translateY(-0.6rem);
        }
    }
}

.login_page {
    background-color: $color-background-black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;

    .login_page_image {
        width: 30vw;
        height: 100vh;
        object-fit: cover;
    }

    .login_page_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35vw;

        .login_page_title {
            font-size: $font-size-h1;
            color: $green;
            font-weight: bold;
            letter-spacing: -1.5px;
            margin-bottom: 2rem;
        }

        .login_page_description {
            font-size: $font-size-h4;
            color: $white;
            max-width: 40rem;
            text-align: center;
            margin-bottom: 2rem;
            line-height: 1.5;
        }
    }

    .login_form_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35vw;

        h1 {
            font-size: $font-size-h1;
            color: $green;
            font-weight: bold;
            letter-spacing: -1.5px;
            margin-bottom: 2rem;
        }

        input {
            font-family: "JetBrains Mono", monospace;
            background-color: $color-background-black;
            color: $white;
            width: 35rem;
            font-size: $font-size-h5;
            padding: 1rem 2rem;
            border: none;
            border-bottom: $white 1px solid;
            transition: all 0.3s;
            margin-bottom: 3rem;
        }

        input:focus {
            border: none;
            outline: none;
            border-bottom: $pink 1px solid;
        }

        .ok {
            border-bottom: $green 1px solid;
        }

        .error {
            border-bottom: $red 1px solid;
        }

        button {
            background-color: $pink;
            color: $color-background-black;
            font-size: $font-size-h4;
            padding: 1rem 2rem;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s;
        }

        button:hover {
            background-color: $green;
        }

        span {
            color: $white;
            font-size: $font-size-h6;
            margin-top: 2rem;

            a {
                color: $pink;
                text-decoration: none;
            }

            a:hover {
                color: $green;
            }
        }
    }
}

.question_page_container {
    padding-left: 30rem;
    padding-right: 30rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;

    .question_page_title {
        font-size: $font-size-h1;
        color: $green;
        font-weight: bold;
        letter-spacing: -1.5px;
        margin-bottom: 3rem;
    }

    .question_add_question {
        margin-bottom: 3rem;
    }

    .question_add_question_link {
        font-size: $font-size-h4;
        color: $pink;
        text-decoration: none;
    }

    .question_add_question_link:hover {
        color: $green;
    }

    .question_add_question_link:visited {
        color: $pink;
    }
}

.question_card {
    background-color: $color-background-black;
    border-radius: 10px;
    border: $border-color 1px solid;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    gap: 2rem;
    margin-bottom: 2rem;

    .question_card_number {
        font-size: $font-size-h4;
        color: $blue;
        font-weight: bold;
        padding: 1rem 2rem;
    }

    .question_card_title {
        font-size: $font-size-h4;
        color: $white;
        padding: 1rem 2rem;
        width: 50rem;
        text-decoration: none;
    }

    .question_card_title:hover {
        color: $green;
    }

    .question_card_difficulty {
        font-size: $font-size-h4;
        color: $green;
        padding: 1rem 2rem;
    }
}
